﻿@model IEnumerable<SuperHeroesInc.DATA.Locations>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationPlanet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationPlanet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationID })
        </td>
    </tr>
}

</table>
