﻿@model SuperHeroesInc.DATA.CourseTypes

@{
    ViewBag.Title = "Classes Viewing";
}

<h2>@ViewBag.Title</h2>

<div>
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseTypeID }) |
    @Html.ActionLink("Back to Classes", "Index")
</p>
