﻿@model IEnumerable<SuperHeroesInc.DATA.CourseTypes>

@{
    ViewBag.Title = "Class of Training";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add Class", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseTypeID })
        </td>
    </tr>
}

</table>
